# =========================
# Frontend
# =========================

node_modules/
dist/
.vite/


# =========================
# Backend
# =========================

__pycache__/
*.py[cod]

*.sqlite3
db.sqlite3

.venv/
venv/
env/


# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example


# =========================
# Django
# =========================

*.log
media/
staticfiles/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db